<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNetCore.Connections.Abstractions" version="10.0.8" />
  <package id="Microsoft.AspNetCore.Http.Connections.Client" version="10.0.8" />
  <package id="Microsoft.AspNetCore.Http.Connections.Common" version="10.0.8" />
  <package id="Microsoft.AspNetCore.SignalR.Client" version="10.0.8" manuallyInstalled="true" />
  <package id="Microsoft.AspNetCore.SignalR.Client.Core" version="10.0.8" />
  <package id="Microsoft.AspNetCore.SignalR.Common" version="10.0.8" />
  <package id="Microsoft.AspNetCore.SignalR.Protocols.Json" version="10.0.8" />
  <package id="Microsoft.Bcl.TimeProvider" version="10.0.8" />
  <package id="Microsoft.Extensions.DependencyInjection" version="10.0.8" manuallyInstalled="true" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="10.0.8" manuallyInstalled="true" />
  <package id="Microsoft.Extensions.Features" version="10.0.8" />
  <package id="Microsoft.Extensions.Logging" version="10.0.8" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="10.0.8" />
  <package id="Microsoft.Extensions.Options" version="10.0.8" />
  <package id="Microsoft.Extensions.Primitives" version="10.0.8" />
  <package id="System.Diagnostics.DiagnosticSource" version="10.0.8" />
  <package id="System.Net.ServerSentEvents" version="10.0.8" />
  <package id="System.Security.Cryptography.ProtectedData" version="10.0.8" manuallyInstalled="true" />
  <package id="System.Threading.Channels" version="10.0.8" />
  <package id="ini-parser-netstandard" version="2.5.3" manuallyInstalled="true" />
</packages>